article {
	clear: both;
}

body {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
}

img {
	width: 100%;
}

.contact-form-wrapper {
	clear: both;
	margin-bottom: 30px;
}

.contact-form-wrapper .btn-primary {
	background-color: orange;
	border-color: #f7931e;
}

.footer-top {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.footer-top-wrapper {
	background-color: #f7931e;
	overflow: hidden;
}


.footer-bottom {
	max-width: 1140px;
	margin: 0 auto;
	color: white;
	padding: 20px;
	font-size: 0.65em;
}

.footer-bottom-wrapper {
	background-color: #7b8a8b;
	clear: both;
}

.footer-column,
.footer-column a {
	color: white;
}

.footer-column li {
	float: left;
	width: 50%;
}

ul.footer-column {
	background-color: #f7931e;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 30px;
	width: 50%;
}

.footer-column h2 {
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
}

.hm-stat {
	color: white;
	font-size: 1.3em;
}

.logo {
	float: left;
	max-width: 250px;
	margin-right: 20px;
}

.mainContent {
	color: #7b8a8b;
	margin-top: 10px;
}

.main-wrapper {
	
}

.site-slogan {
	text-align: right;
	font-size: 1.2em;
}

.header-image {
	background-color: orange;
	clear: both;
	margin-top: 40px;
	text-align: center;
	
}

.hm-stat-bg {
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 11px;
	padding: 20px;
	position: absolute;
	top: 18%;
	width: 95.5%;
}

.header-image img {
	max-width: 98%;
}

.social-media {
	height: 75px;
	width: 100%;
	text-align: center;
}

.social-media a {
	color: white;
}

.social-media .fa {
	background-color: #f7931e;
	border-radius: 50%;
	padding: 7px 10px;
}



.social-media li {
	list-style: none;
	float:left;
	width: 50%;
}